# OS
.DS_Store

# Project
qhm.ini.php
attach/*
cache/*
cacheqblog/*
cacheqhm/*
counter/*
wiki/*
diff/*
backup/*
count/*
swfu/d/*
swfu/data/*
skin/hokukenstyle/*
vendor

# Development
node_modules
.php-version

# Build
tmp/*
