# OS
.DS_Store

# IDE
.idea

# Project
qhm.ini.php
cache/*
cacheqblog/*
wiki/*
diff/*
backup/*
count/*
swfu/d/*
swfu/data/*
skin/hokukenstyle/*
dist
diff.txt

# Development
node_modules
.rspec

# Test
spec/images/*
spec/config/*.yaml
