# QHM Configuration : Start

# Prohibit direct access
<FilesMatch "\.(ini\.php|lng\.php|txt|gz|tgz)$">
	<IfModule authz_host_module>
		Require all denied
	</IfModule>
	<IfModule !authz_host_module>
		Order allow,deny
		Deny from all
	</IfModule>
</FilesMatch>

<FilesMatch "^robots.txt$">
	<IfModule authz_host_module>
		Require all granted
	</IfModule>
	<IfModule !authz_host_module>
		Order allow,deny
		Allow from all
	</IfModule>
</FilesMatch>

## Add Content-Type for web-fonts and videos
## needs mod_mime.c
<IfModule mod_mime.c>
	# Web fonts
	AddType application/font-woff  .woff
	AddType application/x-font-ttf .ttf
	AddType image/svg+xml          .svg

	# Videos
	AddType video/mp4  .mp4
	AddType video/webm .webm
</IfModule>

# QHM Configuration : End
