<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
  bootstrap="tests/bootstrap.php"
  colors="true"
  verbose="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="false"
  convertWarningsToExceptions="false"
  convertDeprecationsToExceptions="false"
>
  <testsuites>
    <testsuite name="QHM Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
