@import url(plugin.css);

a:link {
color:#367EA6;
text-decoration:none;
}

a:visited {
text-decoration:none;
}

a:hover {
color:#367EA6;
text-decoration:underline;
}

blockquote {
padding-left:.3em;
border-left:4px solid #666;
margin:1em 2em;
}

body {
text-align:center;
font-size:14px;
color:#444;
background-color:#E7E7E7;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
margin:0;
}

dd {
margin:2px 0 5px 20px;
}

div.ie5 {
text-align:center;
}

em {
font-style:italic;
}

h1 {
font-size:12px;
font-weight:400;
color:#444;
margin:0;
padding:0;
}

hr {
border-top:2px solid #999;
margin:5px 0;
}

img {
vertical-align:middle;
border:none;
}

pre {
white-space:pre-wrap;
word-wrap:break-word;
overflow:auto;
background-color:#fff;
border-top:#666 1px solid;
border-right:#889 2px solid;
border-bottom:#889 2px solid;
border-left:#666 1px solid;
color:#444;
margin:15px;
padding:.5em;
}

span.handline {
padding-bottom:.2em;
background-image:url(line.gif);
background-repeat:repeat-x;
background-position:bottom;
}

span.noexists {
color:#33F;
background-color:#FFFACC;
}

span.noexists a {
color:#33F;
}

span.size1 {
font-size:xx-small;
}

span.size2 {
font-size:x-small;
}

span.size3 {
font-size:small;
}

span.size4 {
font-size:medium;
}

span.size5 {
font-size:large;
}

span.size6 {
font-size:x-large;
}

span.size7 {
font-size:xx-large;
}

strong {
font-weight:700;
}

tfoot td.style_td {
color:inherit;
background-color:#eee;
border-color:#333;
}

tfoot th.style_th {
color:inherit;
background-color:#eee;
border-color:#333;
}

thead td.style_td {
color:inherit;
background-color:#eee;
border-color:#333;
}

thead th.style_th {
color:inherit;
background-color:#eee;
border-color:#333;
}

#body {
width:100%;
line-height:1.5em;
word-break:normal;
}

#body del {
color:#444;
}

#body h1 {
line-height:1em;
margin:5px 0;
}

#body h1 a {
text-decoration:none;
}

#body h2 {
line-height:1em;
color:#367EA6;
font-size:20px;
margin:10px 0 5px;
padding:10px 0 5px;
}

#body h2 a {
color:#367EA6;
text-decoration:none;
}

#body h2 a:hover {
color:#367EA6;
text-decoration:underline;
}

#body h2.calender {
color:#367EA6;
font-size:14px;
border-left:solid 5px #367EA6;
padding:5px;
}

#body h2.calender a {
color:#367EA6;
text-decoration:none;
}

#body h2.calender a:hover {
color:#367EA6;
text-decoration:underline;
}

#body h3 {
line-height:1em;
color:#367EA6;
font-size:16px;
border-bottom:1px solid #367EA6;
margin:15px 0 3px;
padding:5px;
}

#body h3 a {
color:#367EA6;
text-decoration:none;
}

#body h3 a:hover {
color:#367EA6;
text-decoration:underline;
}

#body h4 {
line-height:1em;
color:#367EA6;
font-size:14px;
border-left:solid 5px #367EA6;
margin:10px 0 0 3px;
padding:5px;
}

#body h4 a {
color:#367EA6;
text-decoration:none;
}

#body h4 a:hover {
color:#367EA6;
text-decoration:underline;
}

#body input {
line-height:1em;
}

#body ol.list1 {
padding-left:16px;
margin-left:16px;
margin-top:1em;
margin-bottom:1em;
list-style-type:decimal;
}

#body ol.list2 {
padding-left:16px;
margin-left:16px;
list-style-type:lower-roman;
}

#body ol.list3 {
padding-left:16px;
margin-left:16px;
list-style-type:lower-alpha;
}

#body strong {
font-weight:700;
}

#body strong a {
font-weight:700;
}

#body table {
max-width:100%;
word-break:normal;
word-wrap:break-word;
border-color:#666;
}

#body textarea {
max-width:100%;
}

#body ul {
margin:5px 0 5px 30px;
}

#body ul ul {
margin-left:30px;
}

#body ul.list1 {
padding-left:16px;
margin-left:16px;
margin-top:1em;
margin-bottom:1em;
list-style-image:url(list_list1.png);
}

#body ul.list2 {
padding-left:16px;
margin-left:16px;
list-style-image:url(list_list2.png);
}

#body ul.list3 {
padding-left:16px;
margin-left:16px;
list-style-image:url(list_list3.png);
}

#content {
background-color:#FFF;
border:1px solid #EEE;
padding:0 15px 5px;
margin:8px 0 0;
}

#content h2.title {
text-align:right;
font-size:10px;
margin:0;
padding-top:5px;
}

#content h2.title a {
text-decoration:none;
}

#content h2.title a:hover {
text-decoration:none;
}

#copyright {
text-align:center;
font-size:11px;
}

#copyright p {
margin:0;
}

#footer {
width:100%;
color:#666;
background-color:#fff;
border:1px solid #eee;
margin:0;
padding:5px 0;
}

#footer a {
text-decoration:none;
color:#666;
}

#footer a:hover {
color:#fff;
}

#header {
background:transparent url(header.gif) repeat-x scroll 0 0;
}

#header a {
text-decoration:none;
}

#lastmodified {
text-align:right;
color:#777;
font-size:12px;
margin:10px 0 0;
}

#logo {
text-align:center;
font-size:25px;
background-color:#fff;
padding:0;
}

#logo a {
text-decoration:none;
color:#630;
}

#logo a:hover {
text-decoration:none;
color:#ccc;
background:none;
}

#logo img {
width:786px;
}

#logo_text {
text-align:center;
margin-bottom:8px;
padding:0;
height:150px;
}

#logo_text a {
padding:60px 0 0 0;
display:block;
text-decoration:none;
color:#fff;
font-size:28px;
}

#logo_text a:hover {
text-decoration:none;
color:#fff;
}

#menubar {
line-height:1.2em;
color:#666;
background-color:#EEE;
border:1px solid #E5E5E5;
font-size:.9em;
margin:8px 0 0;
}

#navigator {
line-height:24px;
font-size:14px;
background-color:#A1A1A1;
border:1px solid #A1A1A1;
margin:3px 0;
padding:0 5px;
}

#navigator * {
margin:0;
padding:0;
}

#navigator a {
text-decoration:none;
color:#fff;
}

#navigator a:hover {
color:#333;
background:none;
}

#navigator p {
margin-left:10px;
color:#eee;
}

#navigator ul {
height:24px;
list-style:none;
margin:0;
padding:0;
}

#navigator ul li {
float:left;
background:url(navi_li.gif) no-repeat 0 50%;
margin:0 5px;
padding:0 0 0 20px;
}

#navigator ul li a {
display:block;
}

#navigator2 {
clear:both;
width:100%;
text-align:center;
padding:10px 0;
}

#note {
padding-bottom:5px;
border-bottom:solid 1px #999;
}

#sidebar {
color:#666;
margin:0;
}

#summary {
clear:both;
padding-left:5px;
color:#666;
border-left:solid 4px #999;
margin:45px 0 0;
}

#toolbar {
text-align:center;
font-size:11px;
padding:3px 0;
}

#wrap_content {
width:80%;
float:right;
overflow:hidden;
margin:0;
}

#wrap_sidebar {
width:19%;
float:left;
overflow:hidden;
margin:0;
}

#wrapper {
width:786px;
text-align:left;
background-color:#FAFAFA;
border:1px solid #A1A1A1;
margin:1px auto;
padding:8px 18px;
}

.bar {
line-height:1.3em;
word-break:normal;
padding:5px;
}

.bar a {
color:#666;
}

.bar a:hover {
color:#111;
text-decoration:none;
}

.bar div.jumpmenu {
display:none;
}

.bar h1 {
font-size:1em;
font-weight:700;
margin:1px 0 0;
}

.bar h2 {
line-height:30px;
font-size:1.2em;
text-align:left;
color:#666;
margin:10px 0 5px;
padding:0 2px 0 5px;
}

.bar h2 a {
display:block;
width:100%;
color:#666;
text-decoration:none;
margin:0 -2px 0 -5px;
padding:0 2px 0 5px;
}

.bar h2 a:hover {
color:#111;
text-decoration:none;
padding:0 2px 0 5px;
}

.bar h3 {
line-height:24px;
font-size:1em;
color:#367EA6;
margin:5px 0;
padding:0 0 0 10px;
}

.bar h3 a {
display:block;
width:100%;
color:#367EA6;
text-decoration:none;
margin:-0 0 0 -10px;
padding:0 0 0 10px;
}

.bar h3 a:hover {
color:#111;
text-decoration:none;
padding:0 0 0 10px;
}

.bar h4 {
line-height:1.2em;
color:#666;
background-image:url(bar_h4_bg.gif);
background-position:left top;
background-repeat:no-repeat;
font-size:1em;
margin:5px 0;
padding:0 0 0 23px;
}

.bar h4 a {
display:block;
width:100%;
color:#666;
text-decoration:none;
margin:0 0 0 -23px;
padding:0 0 0 23px;
}

.bar h4 a:hover {
color:#111;
text-decoration:none;
padding:0 0 0 23px;
}

.bar h5 {
line-height:30px;
font-size:1.2em;
text-align:left;
font-weight:700;
color:#666;
margin:10px 0 5px;
padding:0 2px 0 5px;
}

.bar h5 a {
display:block;
width:100%;
color:#666;
text-decoration:none;
margin:0 -2px 0 -5px;
padding:0 2px 0 5px;
}

.bar h5 a:hover {
color:#367EA6;
text-decoration:none;
padding:0 2px 0 5px;
}

.bar img {
margin:0 auto;
padding:0;
}

.bar li {
list-style-type:none;
}

.bar ul {
line-height:1.5em;
margin:0;
padding:2px 2px 5px 10px;
}

.bar ul.list1 li {
margin-left:0;
}

.bar ul.list2 li {
margin-left:0;
}

.bar ul.list3 li {
margin-left:0;
}

.small {
font-size:80%;
}

.style_table {
  border-collapse: separate;
  border-spacing: 1px;

text-align:left;
border:0;
color:inherit;
background-color:#ccc;
border-color:#333;
margin:auto;
padding:0;
}

.style_td {
color:inherit;
background-color:#fff;
border-color:#333;
margin:1px;
padding:5px;
}

.style_th {
text-align:center;
color:inherit;
background-color:#f3f3f3;
border-color:#333;
margin:1px;
padding:5px;
}


