<IfModule authz_host_module>
	Require all denied
</IfModule>
<IfModule !authz_host_module>
	Order allow,deny
	Deny from all
</IfModule>

# Amazon plugin's Image cache
<FilesMatch ".*\.(jpg|JPG|png|PNG|gif|GIF|jpeg|JPEG)$">
	<IfModule authz_host_module>
		Require all granted
	</IfModule>
	<IfModule !authz_host_module>
		Allow from all
	</IfModule>
</FilesMatch>
