@import url("hokukenstyle/qhm.css");

body {
background-color:#E7E7E7;
color:#444;
font-family:"Arial", "sans-serif";
font-size:14px;
margin:0;
text-align:center;
}


/*
input[type=submit], input[type=button] {
border-style:none;
display: inline-block;
color: #fff;
text-decoration: none;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
border-bottom: 1px solid rgba(0,0,0,0.25);
position: relative;
cursor: pointer;
font-size: 18px;
padding: 8px 14px 9px;
background-color: #2981e4;
}
input[type=submit]:hover {
background-color: #2575cf;
}

input[type=button] {
color: #fff;
font-size: 14px;
background-color: #aaa;
}
input[type=button]:hover {
background-color: #999;
}

*/



#wrapper {
background-color:#FAFAFA;
border:1px solid #A1A1A1;
margin:1px auto 1em auto;
padding:8px 18px;
text-align:left;
width:650px;
}

#summary {
border-left:solid 4px #999;
clear:both;
color:#666;
margin:45px 0 0;
padding-left:5px;
}

#note {
border-bottom:solid 1px #999;
padding-bottom:5px;
}

h1 {
color:#444;
font-size:12px;
font-weight:400;
margin:0;
padding:0;
}

#header {
background:transparent url(header.gif) repeat-x scroll 0 0;
}

#logo {
background-color:#fff;
font-size:25px;
padding:0;
text-align:center;
}

#logo img {
width:748px;
}

#logo a {
color:#630;
text-decoration:none;
}

#logo a:hover {
background:none;
color:#ccc;
text-decoration:none;
}

#logo_text {
margin-bottom:8px;
text-align:center;
}

#logo_text a {
color:#fff;
font-family:Verdana,sans-serif;
font-size:28px;
line-height:150px;
text-decoration:none;
}

#navigator * {
margin:0;
padding:0;
}

#navigator {
background-color:#A1A1A1;
border:1px solid #A1A1A1;
font-size:14px;
height:24px;
margin:0;
padding:3px;
}

#navigator a:hover {
background:none;
color:#333;
}

#navigator p {
color:#eee;
}

#navigator ul li {
background:url("navi_li.gif") no-repeat 0 50%;
float:left;
font-size:14px;
list-style-type:none;
margin:0 10px 0 3px;
padding:0 0 0 20px;
}

#content h2.title {
color:#999;
font-size:12px;
text-align:right;
display:none;
}

#content h2.title a {
color:#999;
text-decoration:none;
}

#content h2.title a:hover {
color:#ccc;
text-decoration:none;
}

#lastmodified {
color:#777;
font-size:12px;
text-align:right;
}

#body h2 {
color:#367EA6;
font-size:20px;
padding:10px 0 5px;
}

#body h3 {
border-bottom:1px solid #367EA6;
color:#367EA6;
font-size:16px;
padding:5px;
}

#body h4,#body h2.calender {
border-left:solid 5px #367EA6;
color:#367EA6;
font-size:14px;
padding:5px;
}

#body ul.list1 {
margin-bottom:1em;
margin-left:16px;
margin-top:1em;
padding-left:16px;
}

#body ol.list1 {
list-style-type:decimal;
margin-bottom:1em;
margin-left:16px;
margin-top:1em;
padding-left:16px;
}

#body ol.list2 {
list-style-type:lower-roman;
margin-left:16px;
padding-left:16px;
}

#body ol.list3 {
list-style-type:lower-alpha;
margin-left:16px;
padding-left:16px;
}

#body del {
color:#444;
}

hr {
border-top:2px solid #999;
margin:5px 0;
}

#wrap_sidebar {
background-color:#EEE;
border:none;
float:left;
margin-top:8px;
overflow:hidden;
width:19%;
}

#sidebar {
color:#666;
margin:0;
}

.bar h3 {
color:#666;
padding:5px 0 0 10px;
}

.bar h4 {
background-image:url("bar_h4_bg.gif");
background-position:left top;
background-repeat:no-repeat;
color:#666;
padding:2px 0 3px 23px;
}

.bar h4 a {
color:gray;
text-decoration:none;
}

.bar h2,.bar h5 {
color:#666;
font-size:1.2em;
font-weight:700;
margin:5px 0;
padding:7px 0 5px 5px;
text-align:left;
}

.bar h2 a:visited,.bar h5 a:visited {
color:#111;
}

#menubar {
background-image:url("bar_bg.png");
background-repeat:repeat;
border:none;
color:#666;
font-size:0.9em;
line-height:1.2em;
margin:0;
}

#search_form {
background-color:#fff;
background-image:url("bar_bg.png");
background-repeat:repeat;
border:none;
color:#666;
margin:0;
text-align:center;
}

#search_form h1,#search_form h2,#search_form h3,#search_form h4,#search_form h5 {
background:none;
background-image:url("bar_h2_bg.png");
background-position:left top;
background-repeat:no-repeat;
border-style:none;
color:#fff;
font-size:1em;
padding:7px 0 5px 5px;
text-align:left;
}

#toolbar {
font-size:11px;
padding:3px 0;
text-align:center;
}

#footer {
background-color:#fff;
border:1px solid #eee;
color:#666;
margin:0;
padding:5px 0;
width:100%;
}

#footer a:hover {
color:#fff;
}

#copyright {
font-size:11px;
text-align:center;
}

div.bluebox1 {
background-color:#fff;
border:solid 1px #33a;
max-width:100%;
padding:0 10px;
text-align:left;
}

div.bluebox2 {
background-color:#eef;
border:solid 1px #33a;
max-width:100%;
padding:0 10px;
text-align:left;
}

div.bluebox3 {
background-color:#ffe;
border:solid 1px #33a;
max-width:100%;
padding:0 10px;
text-align:left;
}

div.bluebox4 {
background-color:#eef;
border:none;
max-width:100%;
padding:0 10px;
text-align:left;
}

div.bluebox5 {
background-color:#ddf;
border:none;
max-width:100%;
padding:0 10px;
text-align:left;
}

div.redbox1 {
background-color:#fff;
border:solid 1px red;
max-width:100%;
padding:0 10px;
text-align:left;
}

div.redbox2 {
background-color:#fee;
border:solid 1px red;
max-width:100%;
padding:0 10px;
text-align:left;
}

div.redbox3 {
background-color:#ffe;
border:solid 1px red;
max-width:100%;
padding:0 10px;
text-align:left;
}

div.redbox4 {
background-color:#fee;
border:none;
max-width:100%;
padding:0 10px;
text-align:left;
}

div.redbox5 {
background-color:#fdd;
border:none;
max-width:100%;
padding:0 10px;
text-align:left;
}

div.graybox1 {
background-color:#fff;
border:solid 1px #000;
max-width:100%;
padding:0 10px;
text-align:left;
}

div.graybox2 {
background-color:#eee;
border:solid 1px #000;
max-width:100%;
padding:0 10px;
text-align:left;
}

div.graybox3 {
background-color:#ffe;
border:solid 1px #000;
max-width:100%;
padding:0 10px;
text-align:left;
}

div.graybox4 {
background-color:#eee;
border:none;
max-width:100%;
padding:0 10px;
text-align:left;
}

div.graybox5 {
background-color:#ddd;
border:none;
max-width:100%;
padding:0 10px;
text-align:left;
}

span.handline {
text-decoration:underline;
}

#wrap_content {
background-color:#FFF;
border:1px solid #EEE;
margin-top:8px;
overflow:hidden;
width:100%;
}

#navigator2 {
clear:both;
padding:10px 0;
text-align:center;
width:100%;
}

img {
border:none;
vertical-align:middle;
}

#content {
border:none;
padding:0 15px;
}

#lastmodified {
margin:10px 0 0;
}

#body {
line-height:1.5em;
width:100%;
word-break:break-all;
}

#body h1,#body h2,#body h3,#body h4,#body input {
line-height:1em;
}

#body h1 {
margin:5px 0;
}

#body h2 {
margin:10px 0 5px;
}

#body h3 {
margin:15px 0 3px;
}

#body h4 {
margin:10px 0 0 3px;
}

#body ul {
margin:5px 0 5px 30px;
}

#body ul ul {
margin-left:30px;
}

dd {
margin:2px 0 5px 20px;
}

#body table {
max-width:100%;
word-break:break-all;
word-wrap:break-word;
}

pre {
background-color:#fff;
border-bottom:#889 2px solid;
border-left:#666 1px solid;
border-right:#889 2px solid;
border-top:#666 1px solid;
color:#444;
margin:15px;
overflow:auto;
padding:.5em;
white-space:pre;
word-wrap:break-word;
}

blockquote {
border-left:4px solid #666;
margin:1em 2em;
padding-left:0.3em;
}

em {
font-style:italic;
}

.style_th {
background-color:#f3f3f3;
border-color:#333;
color:inherit;
margin:1px;
padding:5px;
text-align:center;
}

.style_td {
background-color:#fff;
border-color:#333;
color:inherit;
margin:1px;
padding:5px;
}

span.noexists {
background-color:#FFFACC;
}

.small {
font-size:80%;
}

span.size1 {
font-size:xx-small;
}

span.size3 {
font-size:small;
}

span.size4 {
font-size:medium;
}

span.size5 {
font-size:large;
}

span.size6 {
font-size:x-large;
}

span.size7 {
font-size:xx-large;
}

#body textarea {
max-width:100%;
}

#header {
font-family:Verdana,sans-serif;
}

#navigator p {
margin-left:10px;
}

.bar {
line-height:1.3em;
padding:5px;
word-break:break-all;
}

.bar h1 {
font-size:1em;
font-weight:700;
margin:1px 0 0;
}

.bar h3,.bar h4 {
font-size:1em;
font-weight:700;
margin:4px 0 0;
}

.bar ul {
line-height:1.5em;
margin:0;
padding:2px 2px 5px 10px;
}

.bar li {
list-style-type:none;
}

.bar ul.list1 li {
margin-left:2em;
}

.bar ul.list2 li {
margin-left:3em;
}

.bar ul.list3 li {
margin-left:4em;
}

.bar img {
margin:0 auto;
padding:0;
}

#page_action .pa_edit,#page_action .pa_attach,#page_action .pa_diff,#page_action .pa_backup {
background-repeat:no-repeat;
height:20px;
padding-left:20px;
}

.pa_edit {
background-image:url("../../../image/edit.png");
}

.pa_attach {
background-image:url("../../../image/file.png");
}

.pa_diff {
background-image:url("../../../image/diff.png");
}

.pa_backup {
background-image:url("../../../image/backup.png");
}

.external_link {
background-image:url("../external_link.gif");
background-position:right;
background-repeat:no-repeat;
padding-right:15px;
}

div.edit_form textarea {
font-size:13pt;
min-width:99%;
width:95%;
}

#preview {
background-color:#ffc;
border-bottom:solid 2px #ccc;
border-right:solid 2px #ccc;
margin-bottom:20px;
}

.anchor_super {
font-size:0.4em;
vertical-align:40%;
}

.super_index {
color:#f90;
font-size:0.4em;
vertical-align:40%;
}

div.jumpmenu {
float:right;
font-size:0.6em;
text-align:right;
}

.note_super {
font-size:0.6em;
vertical-align:30%;
}

span.diff_added {
color:blue;
}

span.diff_removed {
color:red;
}

strong.word0 {
background-color:#FF6;
}

strong.word1 {
background-color:#A0FFFF;
}

strong.word2 {
background-color:#9F9;
}

strong.word3 {
background-color:#F99;
}

strong.word4 {
background-color:#F6F;
}

strong.word5 {
background-color:#800;
color:#FFF;
}

strong.word6 {
background-color:#0A0;
color:#FFF;
}

strong.word7 {
background-color:#886800;
color:#FFF;
}

strong.word8 {
background-color:#004699;
color:#FFF;
}

strong.word9 {
background-color:#909;
color:#FFF;
}

.amazon {
padding:.5em 1.5em;
text-align:center;
}

div.side_bar div.amazon {
margin-top:0.5em;
padding:0;
}

table.style_calendar {
background-color:#ccc;
border:solid 1px #ccc;
font-size:15px;
height:230px;
text-align:center;
width:200px;
}

td.style_td_today {
background-color:#ff9;
text-align:center;
}

td.style_td_sat {
background-color:#ddd;
text-align:center;
}

td.style_td_sun {
background-color:#fdd;
text-align:center;
}

td.style_td_day {
background-color:#eee;
text-align:center;
}

td.style_td_week {
background-color:#ccc;
color:#666;
font-weight:700;
text-align:center;
}

table.style_calendar a {
color:#000;
text-decoration:none;
}

table.style_calendar a strong {
color:#f60;
text-decoration:underline;
}

.bar table.style_calendar {
background-color:transparent;
border:none;
font-size:14px;
height:auto;
margin:0 auto;
min-width:99%;
text-align:center;
width:83%;
}

.bar table.style_calendar a {
background-color:transparent;
color:#000;
text-decoration:none;
}

.bar table.style_calendar a strong {
color:#666;
text-decoration:underline;
}

.bar td.style_td_week {
background-color:transparent;
color:#000;
font-weight:400;
text-align:center;
}

div.contents {
border:solid 1px #999;
border-bottom:solid 1px #fff;
border-right:none;
margin:15px 0;
width:80%;
}

div.contents:before {
background-color:#999;
color:#fff;
content:"‚à‚­‚¶";
display:block;
font-size:12px;
font-weight:700;
line-height:1em;
padding:2px;
text-align:center;
width:3.5em;
}

div.contents ul {
margin:7px 0 15px;
}

table.toc {
border:solid 1px #eee;
border-bottom:solid 1px #fff;
border-right:none;
font-size:1em;
margin:15px 0;
}

.toctitle {
background-color:#b0b0b0;
color:#fff;
font-size:12px;
font-weight:700;
line-height:1em;
padding:2px;
text-align:center;
}

div.counter {
font-size:70%;
}

hr.short_line {
margin:0 auto;
text-align:center;
width:80%;
}

div.img_margin {
margin-left:10px;
margin-right:10px;
}

div.img_margin_left {
margin:0 1em 0 0;
}

div.img_margin_right {
margin:0 0 0 1em;
}

div.ie5s div.img_margin_left {
margin:1em 1em 1em 0;
}

div.ie5s div.img_margin_right {
margin:1em 0 1em 1em;
}

li.navi_none {
display:inline;
float:none;
}

li.navi_left {
display:inline;
float:left;
text-align:left;
}

li.navi_right {
display:inline;
float:right;
text-align:right;
}

span.new1 {
color:red;
font-size:x-small;
}

span.new5 {
color:green;
font-size:xx-small;
}

span.counter {
font-size:1em;
}

td.vote_label {
background-color:#FCC;
}

td.vote_td1 {
background-color:#DDE5FF;
}

td.vote_td2 {
background-color:#EEF5FF;
}

#body .htmltagcloud {
font-size:12px;
line-height:340%;
}

.menubar .htmltagcloud {
font-size:6px;
line-height:340%;
}

.menubar .htmltagcloud span {
display:block;
}

.tagcloud0 {
font-size:100%;
}

.tagcloud1 {
font-size:110%;
}

.tagcloud2 {
font-size:120%;
}

.tagcloud3 {
font-size:130%;
}

.tagcloud4 {
font-size:140%;
}

.tagcloud5 {
font-size:150%;
}

.tagcloud6 {
font-size:160%;
}

.tagcloud7 {
font-size:170%;
}

.tagcloud8 {
font-size:180%;
}

.tagcloud9 {
font-size:190%;
}

.tagcloud10 {
font-size:200%;
}

.tagcloud11 {
font-size:210%;
}

.tagcloud12 {
font-size:220%;
}

.tagcloud13 {
font-size:230%;
}

.tagcloud14 {
font-size:240%;
}

.tagcloud15 {
font-size:250%;
}

.tagcloud16 {
font-size:260%;
}

.tagcloud17 {
font-size:270%;
}

.tagcloud18 {
font-size:280%;
}

.tagcloud19 {
font-size:290%;
}

.tagcloud20 {
font-size:300%;
}

.tagcloud21 {
font-size:310%;
}

.tagcloud22 {
font-size:320%;
}

.tagcloud23 {
font-size:330%;
}

.tagcloud24 {
font-size:340%;
}

#licence {
margin:10px;
}

#licence,#licence a,#licence a:hover {
color:#888;
font-size:10px;
text-align:right;
text-decoration:none;
}

a:link,a:visited,#body h2 a,#body h3 a,#body h4 a,#body h2.calender a {
color:#367EA6;
text-decoration:none;
}

a:hover,#body h2 a:hover,#body h3 a:hover,#body h4 a:hover,#body h2.calender a:hover {
color:#367EA6;
text-decoration:underline;
}

#logo_text a:hover,#navigator a {
color:#fff;
text-decoration:none;
}

#navigator ul,.contentsx li {
margin:3px 0;
}

#body strong,#body strong a,strong {
font-weight:700;
}

#body ul.list2,#body ul.list3 {
margin-left:16px;
padding-left:16px;
}

.bar a,table.style_calendar a:hover strong {
color:#666;
}

.bar a:hover,.bar h3 a:hover,.bar h4 a:hover {
color:#111;
text-decoration:none;
}

.bar h3 a,.bar h3 a:visited,.bar h2 a,.bar h5 a {
color:#4283B9;
text-decoration:none;
}

.bar h4 a:visited,#footer a {
color:#666;
text-decoration:none;
}

#content h2.title,#copyright p,.contentsx ul {
margin:0;
}

#body h1 a,#body h2 a,#body h3 a,#body h4 a,#header a,div.jumpmenu a {
text-decoration:none;
}

thead td.style_td,tfoot td.style_td,thead th.style_th,tfoot th.style_th {
background-color:#eee;
border-color:#333;
color:inherit;
}

div.ie5,div.ie5s,h5.side_label,ul.navi {
text-align:center;
}

span.size2,span.comment_date {
font-size:x-small;
}

.bar div.jumpmenu,.pa_reload,.pa_newpage,.pa_freeze,.pa_unfreeze,.pa_list,.pa_serch,.pa_whatnew,.pa_help,div.side_bar a.anchor_super {
display:none;
}

.edit_form,.clear {
clear:both;
}

td.style_td_caltop,td.style_td_blank {
background-color:#fff;
text-align:center;
}

.bar td.style_td_caltop,.bar td.style_td_sat,.bar td.style_td_sun,.bar td.style_td_blank,.bar td.style_td_day,.bar td.style_td_today {
background-color:transparent;
text-align:center;
}

div.qhmupdate .setproxy {
border:1px #ccc solid;
padding:1em;
color:#666;
margin-top:15px;
font-size:14px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

div.qhmupdate input[type=text], div.qhmupdate input[type=password] {
margin: 0;
font-size: 18px;
border: 1px solid #999;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
padding: 3px;
width: 260px;
}
