# Prohibit direct access
<FilesMatch "\.(php[3457]?|pht|phtml|cgi|pl|exe|com)$">
	<IfModule authz_host_module>
		Require all denied
	</IfModule>
	<IfModule !authz_host_module>
		Deny from all
	</IfModule>
</FilesMatch>
